<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}\log\internal.log"
      internalLogLevel="Info" >
	
    <targets async="true">
        <target xsi:type="File"
				name="logToFile"
				fileName="${basedir}\log\${shortdate}.log"
                layout="${longdate}|${threadid:padding=3}|${uppercase:${level:padding=-5}}|${callsite}() | ${message} |${onexception:${newline}${exception:format=tostring} }"
				encoding="UTF-8"
				archiveFileName="${basedir}\{#}.log"
				archiveNumbering="Date"/>
    </targets>

    <rules>
		<logger name="*" minlevel="Trace" writeTo="logToFile"/>
    </rules>
</nlog>